<div class=" slider bg-primary " >
   <div class="slide" >
	   <div><button class=" slides btn btn-warning"><i class="bi bi-building">Appartement</i></button></div>
	   <div><button class="slides btn btn-warning"><i class="bi bi-shop">Boutique</i></button></div>
	   <div><button class=" slides btn btn-warning"><i class="bi bi-house-door">Maison</i></button></div>
	   <div><button class=" slides btn btn-warning"><i class="bi bi-door-open">Studio</i></button></div>
	   <div><button class=" slides btn btn-warning"><i class="bi bi-door-closed">Chambre</i></button></div>
	   <div><button class=" slides btn btn-warning"><i class="bi bi-signpost">Terrain</i></button></div>
   </div>
</div>
<div class="row cont">
<div class="box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div  class="box-part text-center">
                        
                        <i class="bi bi-building" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Appartement</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a  href="#">voir plus</a>
                        
					 </div>
				</div>	 
        
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
               
					<div class="box-part text-center">
					    
					    <i class="bi bi-house-door" aria-hidden="true"></i>
              
						<div class="title">
							<h4 >Maison</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a href="#">voir plus</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <i class="bi bi-door-closed" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Chambre</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a href="#">voir plus</a>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <br><br>
					<div class="box-part text-center">
                        
                        <i class="bi bi-door-open" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Studio</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a href="#">voir plus</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <br> <br>
					<div class="box-part text-center">
					    
					    <i class="bi bi-signpost" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>Terrain</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a href="#">voir plus</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               <br><br>
					<div class="box-part text-center">
                        <i class="bi bi-shop"></i>
                        <i class="fa fa-stopping fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Fond de commerce</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
						<a href="#">voir plus</a>
                        
					 </div>
				</div>
		
		</div>		
    </div>
</div>

